*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*Config.boton registrarse + diseño responsive*/
.registrarse{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 192px;
    height: 48px;
    border-radius: 20px;
    background-color: #618837;
    cursor: pointer;
}
.registrarse:hover{
    background-color:#9dc582;
    color: black;
    font-weight: 700;
}
/**/

/* Config. buttom suscrib */
.suscribirse{
    margin-top: 20px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color: #618837;
    cursor: pointer;
}

.suscribirse:hover{
    background-color:#9dc582;
    font-weight: 700;
    color: black;
}
/*  */



/*Conf. extras para la web*/
.p_footer{
    color:#363940;
    font-size: 12px;
}

