*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


/* Layout */
.container{
    width: 100%;
    max-width: 1152px;
    margin: 0 auto;
}
/*  */
/*Config.botones*/
.registrarse{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 192px;
    height: 48px;
    border-radius: 20px;
    background-color: #618837;
    cursor: pointer;
}
.registrarse:hover{
    background-color:#9dc582;
    color: black;
    font-weight: 700;
}
.suscribirse{
    margin-top: 20px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    background-color: #618837;
    cursor: pointer;
}

.suscribirse:hover{
    background-color:#9dc582;
    font-weight: 700;
    color: black;
}
/*  */



/*Conf. extras para la web*/
.p_footer{
    color:#363940;
    font-size: 14px;
}


/* TIENDA */

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
