*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: 192px;
    height: 48px;
    border-radius: 20px;
    background-color: #618837;
    cursor: pointer;
}